body {
    background: #222;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

  }
  
  .semaforo {
    max-width: 6.5rem;
    width: 100%;
    height: 18rem;
    justify-self: center;
    background: #333;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .luz {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #555;
    box-shadow: 0 0 10px #000;
    transition: background 0.5s, box-shadow 0.5s;
  }
  
  .rojo.encendido {
    background: red;
    box-shadow: 0 0 30px red;
  }
  
  .amarillo.encendido {
    background: yellow;
    box-shadow: 0 0 30px yellow;
  }
  
  .verde.encendido {
    background: limegreen;
    box-shadow: 0 0 30px limegreen;
  }