@media (max-width: 825px) {
    .container {
      padding-top: 20px;
    }
  
    .header {
      margin-bottom: 20px;
      padding: 15px;
      width: 90%;
    }
  
    .logo {
      font-size: 36px;
      margin-bottom: 15px;
      text-align: center;
    }
  
    .game-title {
      font-size: 20px;
      text-align: center;
    }
  
    .buttons {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  
    .buttons button {
      width: 80%;
      font-size: 14px;
      padding: 8px 12px;
    }
  }