 body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
}

.temp-hum-base {
    grid-row: 2/3;
    grid-column: 2/3;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.tit-temp, .tit-hum {
    font-size: 20px;
    color: #4f8a8b;
    margin-bottom: 10px;
}

.temp-valor, .hum-valor {
    font-size: 30px;
    font-weight: bold;
    color: #2d3e3e;
    margin-bottom: 20px;
}

img {
    width: 50px;
    height: auto;
    margin-top: 10px;
} 


img[src="https://mir-s3-cdn-cf.behance.net/project_modules/source/bafb3929035897.55decb26f207b.gif"] {
    width: 80px;
} 

